{{define "title"}}
Pollo // Root
{{end}}

{{define "headercontent"}}
Pollo // Root
{{end}}

{{define "head"}}
<link rel="stylesheet" href="/public/css/styles.css" />
{{end}}

{{define "main"}}
<div class="flex flex-col text-center items-center justify-center px-4 py-16 gap-4">
  <h1 class="text-3xl sm:text-6xl font-bold">
    <span class="bg-gradient-to-r from-primary via-accent to-secondary bg-clip-text text-transparent box-decoration-clone">
      Pollo
    </span>
  </h1>

  <h2 class="my-4 text-xl sm:text-3xl font-bold">
    A <span class="text-primary">dead-simple </span>
    <span class="text-secondary">real-time  </span>
    <span class="text-accent">voting tool</span>.
  </h2>

  <div class="card glass card-compact bg-secondary text-black font-bold text-left">
    <div class="card-body">
      <h2 class="card-title">Features:</h2>
      <ul>
        <li>🚀 Real-time voting!</li>
        <li>🚀 Customizable room name and vote scale!</li>
        <li>🚀 CSV Reports for every room!</li>
        <li>🚀 100% free and open-source... forever!</li>
      </ul>
    </div>
  </div>
</div>
{{end}}

{{define "foot"}}
<script src="/public/js/htmx.base.js"></script>
<script src="/public/js/htmx.sse.js"></script>
{{end}}