version: "3.8"
services:
  db:
    image: 'postgres:alpine'
    pull_policy: build
    environment:
      - POSTGRES_DB=$POSTGRES_DB
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - POSTGRES_USER=$POSTGRES_USER
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - proxy_default
    restart: on-failure:3

  app:
    build:
      context: .
      dockerfile: Dockerfile
    pull_policy: build
    restart: always
    networks:
      - proxy_default
    ports:
      - "3100:3000"
    environment:
      - DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@db:5432/$POSTGRES_DB?sslmode=disable
      - CLERK_SIGN_UP_URL=$CLERK_SIGN_UP_URL
      - CLERK_SIGN_IN_URL=$CLERK_SIGN_IN_URL
      - CLERK_PUBLISHABLE_KEY=$CLERK_PUBLISHABLE_KEY
      - CLERK_SECRET_KEY=$CLERK_SECRET_KEY
      - CLERK_WEBHOOK_SIGNING_SECRET=$CLERK_WEBHOOK_SIGNING_SECRET
      - ROOT_URL=$ROOT_URL
      - SHIT_LIST=$SHIT_LIST
volumes:
  redis:
  redis-config:
  pgdata:

networks:
  proxy_default:
    name: proxy_default
    external: true